[Unit]
Description=Android software store bridge

[Service]
Type=dbus
BusName=io.FuriOS.AndroidStore
ExecStart=/usr/libexec/android-store
Restart=on-failure
