[Unit]
Description=Waydroid Container

[Service]
UMask=0022
BusName=id.waydro.Container
ExecStart=/usr/bin/waydroid -w container start

[Install]
WantedBy=multi-user.target
