[Unit]
Description=Android session autostart
After=sm.puri.Phosh.service
ConditionPathExists=|/home/droidian/.android_enable
ConditionPathExists=|/home/furios/.android_enable

[Service]
Type=simple
ExecStartPre=-/usr/bin/waydroid session stop
ExecStartPre=-/usr/bin/gdbus wait -e org.gnome.SessionManager
ExecStartPre=/usr/bin/sleep 5
ExecStart=-/usr/bin/waydroid session start
