[Desktop Entry]
Type=Application
Name=Install in Andromeda
NoDisplay=true
MimeType=application/vnd.android.package-archive
Exec=andromeda app install %f
Icon=andromeda
NoDisplay=true
