[Desktop Entry]
Name=Andromeda Market
Comment=Android Market Protocol Handler
Exec=andromeda app intent android.intent.action.VIEW %u
Icon=andromeda
Type=Application
Encoding=UTF-8
Terminal=false
NoDisplay=true
Categories=Utility;
MimeType=x-scheme-handler/market;
X-KDE-Protocols=market;
