[Desktop Entry]
Type=Application
Name=Andromeda
Exec=andromeda
Icon=/usr/share/icons/hicolor/scalable/apps/andromeda.svg
Categories=X-Andromeda-App;
X-Purism-FormFactor=Workstation;Mobile;
NoDisplay=true
